{% extends 'front/base.html' %}
{% load static %}

{% block content %}
            <!-- Begin Main Content Area -->
            <main class="main-content">
                <div class="breadcrumb-area breadcrumb-height" data-bg-image="{% static 'front/images/breadcrumb/bg/1-1-1919x388.jpg' %}">
                    <div class="container h-100">
                        <div class="row h-100">
                            <div class="col-lg-12">
                                <div class="breadcrumb-item">
                                    <h2 class="breadcrumb-heading">My Account Page</h2>
                                    <ul>
                                        <li>
                                            <a href="{% url 'front:index' %}">Home</a>
                                        </li>
                                        <li>My Account</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="account-page-area section-space-y-axis-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="tab-content myaccount-tab-content" id="account-page-tab-content">
                                    <div class="tab-content myaccount-tab-content" id="account-page-tab-content">
                                        <div class="tab-pane fade active show" id="account-orders" role="tabpanel" aria-labelledby="account-orders-tab">
                                            <div class="myaccount-orders">
                                                <h4 class="small-title">MY ORDERS</h4>
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-hover">
                                                        <tbody>
                                                            <tr>
                                                                <th>ORDER</th>
                                                                <th>DATE</th>
                                                                <th>PRICE</th>
                                                                <th>TOTAL</th>
                                                                <th>STATUS</th>
                                                            </tr>
                                                            {% for q in queryset %}
                                                                <tr>
                                                                    <td><a class="account-order-id" href="#">#{{q.code}}</a></td>
                                                                    <td>{{q.order_date}}</td>
                                                                    <td>{{price}}</td>
                                                                    <td>{{q.total}}</td>
                                                                    <td>
                                                                        {% if q.status == 2 %}
                                                                        <a href="{% url 'front:cart_detail' q.code %}" class="btn btn-warning"><span>Yo'lda</span></a>
                                                                        {% elif q.status == 3 %}
                                                                        <a href="{% url 'front:cart_detail' q.code %}" class="btn btn-danger"><span>Qaytarilgan</span></a>
                                                                        {% else %}
                                                                        <a href="{% url 'front:cart_detail' q.code %}" class="btn btn-success"><span>Qabul qilingan</span></a>
                                                                        {% endif %}
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!-- Main Content Area End Here -->
{% endblock content %}
    