{% extends 'front/base.html' %}
{% load static %}

{% block content %}
<!-- Begin Main Content Area  -->
<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" data-bg-image="{% static 'front/images/breadcrumb/bg/1-1-1919x388.jpg' %}">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h2 class="breadcrumb-heading">Product</h2>
                        <ul>
                            <li>
                                <a href="{% url 'front:index' %}">Home</a>
                            </li>
                            <li>{{product.name}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-product-area section-space-top-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="single-product-img">
                        <div class="swiper-container single-product-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="{{product.banner_img.url}}" class="single-img gallery-popup">
                                        <img class="img-full" src="{{product.banner_img.url}}" alt="Product Image">
                                    </a>
                                </div>
                                {% for img in images %}
                                <div class="swiper-slide">
                                    <a href="{{img.img.url}}" class="single-img gallery-popup">
                                        <img class="img-full" src="{{img.img.url}}" alt="Product Image">
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="thumbs-arrow-holder">
                            <div class="swiper-container single-product-thumbs">
                                <div class="swiper-wrapper">
                                    <a href="{{product.banner_img.url}}" class="swiper-slide">
                                        <img class="img-full" src="{{product.banner_img.url}}" alt="Product Thumnail">
                                    </a>
                                    {% for img in images %}
                                    <a href="#" class="swiper-slide">
                                        <img class="img-full" src="{{img.img.url}}" alt="Product Thumnail">
                                    </a>                                      
                                    {% endfor %}
                                </div>
                                <!-- Add Arrows -->
                                <div class=" thumbs-button-wrap d-none d-md-block">
                                    <div class="thumbs-button-prev">
                                        <i class="pe-7s-angle-left"></i>
                                    </div>
                                    <div class="thumbs-button-next">
                                        <i class="pe-7s-angle-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pt-5 pt-lg-0">
                    <div class="single-product-content">
                        <h2 class="title">{{product.name}}</h2>
                        <div class="price-box">
                            <span class="new-price">{{product.price}} sum</span>
                        </div>
                        <div class="rating-box-wrap pb-4">
                            <div class="rating-box">
                                <ul>
                                    {% for i in rating %}
                                    {% if i <= mark %}
                                    <li><i class="fa fa-star"></i></li>                                      
                                    {% else %}
                                    <li><i class="fa fa-star-o"></i></li>                                      
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="review-status">
                                <a href="#">( {{reviews|length}} Review )</a>
                            </div>
                        </div>
                        <p class="short-desc">
                            {{product.body}}
                        </p>
                        {% if product.discount_price %}
                        <div class="countdown-wrap pb-5">
                            <div class="countdown item-4" data-countdown="2025/09/25" data-format="short">
                                <div class="countdown__item me-3">
                                    <span class="countdown__time daysLeft"></span>
                                    <span class="countdown__text daysText"></span>
                                </div>
                                <div class="countdown__item me-3">
                                    <span class="countdown__time hoursLeft"></span>
                                    <span class="countdown__text hoursText"></span>
                                </div>
                                <div class="countdown__item me-3">
                                    <span class="countdown__time minsLeft"></span>
                                    <span class="countdown__text minsText"></span>
                                </div>
                                <div class="countdown__item">
                                    <span class="countdown__time secsLeft"></span>
                                    <span class="countdown__text secsText"></span>
                                </div>
                            </div>
                        </div>                          
                        {% endif %}
                        <ul class="quantity-with-btn">
                            <li class="quantity">
                                <div class="cart-plus-minus">
                                    <input class="cart-plus-minus-box" value="1" type="text">
                                </div>
                            </li>
                            <li class="add-to-cart">
                                <a class="btn btn-custom-size lg-size btn-pronia-primary" href="{% url 'front:add_cart' product.code %}">Add to
                                    cart</a>
                            </li>
                            <li class="wishlist-btn-wrap">
                                <a class="custom-circle-btn" href="{% url 'front:add_wishlist' product.code %}">
                                    <i class="pe-7s-like"></i>
                                    {% comment %} <i class="fa fa-heart"></i> {% endcomment %}

                                </a>
                            </li>
                            <li class="compare-btn-wrap">
                                <a class="custom-circle-btn" href="compare.html">
                                    <i class="pe-7s-refresh-2"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="service-item-wrap">
                            <li class="service-item">
                                <div class="service-img">
                                    <img src="{% static 'front/images/shipping/icon/car.png' %}" alt="Shipping Icon">
                                </div>
                                <div class="service-content">
                                    <span class="title">Free <br> Shipping</span>
                                </div>
                            </li>
                            <li class="service-item">
                                <div class="service-img">
                                    <img src="{% static 'front/images/shipping/icon/card.png' %}" alt="Shipping Icon">
                                </div>
                                <div class="service-content">
                                    <span class="title">Safe <br> Payment</span>
                                </div>
                            </li>
                            <li class="service-item">
                                <div class="service-img">
                                    <img src="{% static 'front/images/shipping/icon/service.png' %}" alt="Shipping Icon">
                                </div>
                                <div class="service-content">
                                    <span class="title">Safe <br> Payment</span>
                                </div>
                            </li>
                        </ul>
                        <div class="product-category">
                            <span class="title">Category :</span>
                            <ul>
                                <li>
                                    <a href="#">{{product.category}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="product-category social-link align-items-center pb-0">
                            <span class="title pe-3">Share:</span>
                            <ul>
                                <li>
                                    <a href="#" data-tippy="Pinterest" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                        <i class="fa fa-pinterest-p"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-tippy="Twitter" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-tippy="Tumblr" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                        <i class="fa fa-tumblr"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-tippy="Dribbble" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                        <i class="fa fa-dribbble"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-tab-area section-space-top-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav product-tab-nav tab-style-2 pt-0" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="tab-btn" id="information-tab" data-bs-toggle="tab" href="#information" role="tab" aria-controls="information" aria-selected="false">
                                Information
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="active tab-btn" id="description-tab" data-bs-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">
                                Description
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="tab-btn" id="reviews-tab" data-bs-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">
                                Reviews({{reviews|length}})
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content product-tab-content">
                        <div class="tab-pane fade" id="information" role="tabpanel" aria-labelledby="information-tab">
                            <div class="product-information-body">
                                <h4 class="title">Shipping</h4>
                                <p class="short-desc mb-4">The item will be shipped from China. So it need 15-20 days to
                                    deliver. Our product is good with reasonable price and we believe you will worth it.
                                    So please wait for it patiently! Thanks.Any question please kindly to contact us and
                                    we promise to work hard to help you to solve the problem</p>
                                <h4 class="title">About return request</h4>
                                <p class="short-desc mb-4">If you don't need the item with worry, you can contact us
                                    then we will help you to solve the problem, so please close the return request!
                                    Thanks</p>
                                <h4 class="title">Guarantee</h4>
                                <p class="short-desc mb-0">If it is the quality question, we will resend or refund to
                                    you; If you receive damaged or wrong items, please contact us and attach some
                                    pictures about product, we will exchange a new correct item to you after the
                                    confirmation.</p>
                            </div>
                        </div>
                        <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                            <div class="product-description-body">
                                <p class="short-desc mb-0">{{product.body}}
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                            <div class="product-review-body">
                                <div class="blog-comment mt-0">
                                    <h4 class="heading">Comments ({{reviews|length}})</h4>
                                    {% for review in reviews %}
                                    <div class="blog-comment-item">
                                        <div class="blog-comment-img">
                                            <img src="{{review.user.avatar.url}}" alt="User Image">
                                        </div>
                                        <div class="blog-comment-content">
                                            <div class="user-meta">
                                                <h2 class="user-name">{{review.user.username}}</h2>
                                            </div>
                                            <p class="user-comment">
                                                {{review.text}}
                                            </p>
                                        </div>
                                    </div>                                      
                                    {% endfor %}
                                </div>
                                {% if user.is_authenticated %}
                                <div class="feedback-area">
                                    <h2 class="heading">Leave a comment</h2>
                                    <form class="feedback-form">
                                        <div class="group-input">
                                            <div class="form-field me-md-30 mb-30 mb-md-0">
                                                <input type="text" name="name" placeholder="Your Name*" class="input-field">
                                            </div>
                                            <div class="form-field">
                                                <input type="text" name="email" placeholder="Your Email*" class="input-field">
                                            </div>
                                        </div>
                                        <div class="form-field mt-30">
                                            <input type="text" name="subject" placeholder="Subject (Optinal)" class="input-field">
                                        </div>
                                        <div class="form-field mt-30">
                                            <textarea name="message" placeholder="Message" class="textarea-field"></textarea>
                                        </div>
                                        <div class="button-wrap pt-5">
                                            <button type="submit" value="submit" class="btn btn-custom-size xl-size btn-pronia-primary" name="submit">Post
                                                Comment</button>
                                        </div>
                                    </form>
                                </div>
                                {% else %}
                                <h4>Login for writing comment</h4>                                  
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</main>
<!-- Main Content Area End Here  -->
{% endblock content %}